{% extends "encyclopedia/layout.html" %}
{% block title %}
Edit {{title}} - Encyclopedia
{% endblock %}

{% block body %}
<h1 class="mt-0">Edit <small class="text-muted">{{title}}</small></h1>

<form action="{% url 'edit' title %}" method="POST" class="row">
    {% csrf_token %}
    <div class="input-group col-12 pr-5">
        <textarea rows="19" name="content" class="form-control">{{ content }}</textarea>
    </div>
    <div class="col-12 mt-2">
        <input type="submit" value="Save changes" class="btn btn-primary">
    </div>
</form>
{% endblock %}