{% extends "encyclopedia/layout.html" %}
{% block title %}
Page not found
{% endblock %}
{% block body %}
<h1>Page not found</h1>
<div class="ml-1">The requested page was not found.</div>
<h2 class="text-muted mt-3">You might be looking for:</h2>
<div>
    <ul>
        {% for match in matches %}
        <a href="{% url 'entry' match %}">
            <li>{{ match }}</li>
        </a>
        {% empty %}
        <li>There are no similar search results.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}